<nav class="navbar navbar-expand-lg bg-primary p-2 text-white">
  <div class="container-fluid  ">
    <a class="navbar-brand"><img src="assets/images/office.png" height="40px" width="40px" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">{{'Home'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">{{'Offices'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/insert">{{'insert'|translate}}</a>
        </li>
      
        
      </ul>
    </div>
    <div class="fw-bolder">
      <form #langform>
      <label for="language">{{'language'|translate}}: </label>
      <input type="radio" class="btn ms-2 btn-primary" [(ngModel)]="lang" value="en" name="language" (click)="changeLang($event)" id="en">{{'english'|translate}}
      <input type="radio" class="btn ms-2 btn-primary" [(ngModel)]="lang"  value="tam" name="language" (click)="changeLang($event)" id="tam">{{'tamil'|translate}}
    </form>

    </div>
  </div>
</nav>
<div class="mt-5">
  <router-outlet></router-outlet>
</div>
<p>{{'s.no'|translate}}</p>
