<div class="container text-white fw-bolder">
    <div class="row">
        <div class="col-md-4 offset-md-4 border border-5">
            <div class="mt-3">
                    <p class="ps-5">Id: {{getoffice.id}}</p>
    <p class="ps-5"> Name:   {{getoffice.name}}</p>
    <p class="ps-5">Number of Employee:{{getoffice.noOfEmployee}}</p>
    <p class="ps-5">Location: {{getoffice.location}}</p>
    <p class="ps-5">Office Type: {{getoffice.officeType}}</p>
</div>

    <div class="text-center mb-3">
    <button class="btn btn-primary" (click)="tolist()">Back</button>
</div>
</div>
</div>
</div>